.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 120vh;
}

.container:hover {
    transform: scale(1.01);
}

.school-info {
    display: flex;
    align-items: center;
}

.school-image {
    width: 400px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.school-image:hover {
    transform: scale(1.05);
}

.info {
    flex: 1;
}

.school-name {
    font-size: 24px;
    color: #333333;
    /* Dark gray */
    transition: color 0.3s ease;
}

.school-name:hover {
    color: #00bcd4;
    /* Blue aqua */
}

.school-location,
.school-description {
    margin-top: 10px;
    color: #666666;
    /* Medium gray */
    transition: color 0.3s ease;
}

.school-location:hover,
.school-description:hover {
    color: #4caf50;
    /* Green */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    /* Light gray */
}



.school-section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.school-heading {
    text-align: center;
    color: #333333;
    font-size: 30px;
    font-weight: 800;

    /* Dark gray */
}

.school-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.school-info-item {
    /* text-align: center; */
    flex-basis: 48%;
    /* Adjust as needed */
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;

}

.info-title {
    font-size: 18px;
    color: blue;
    /* Medium gray */
    font-weight: 700;
}

.info-text {
    margin-top: 5px;
    color: #333333;
    /* Dark gray */
}

.school-image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:570px) {

    .school-info-item {
        /* text-align: center; */
        flex-basis: 48%;
        /* Adjust as needed */
        margin-bottom: 20px;

        text-align: center;
        width: 100%;

    }

    .school-info {
        width: 100%;
        margin-left: 10px;
    }

    .info-text {
        margin-top: 5px;
        color: #333333;
        width: 250px;
        /* Dark gray */
    }

    iframe {
        text-align: center;
        width: 100%;
    }
}